yt-dlp
whisper
openpyxl
BeautifulSoup4
ffmpeg
python-pptx

fitz  
pytesseract
transformers
pandas
pillow
python-docx
fastapi
slugify
langchain
pydantic
pytube
cohere
openai
sentence-transformers
chromadb
langchain
langchain-community
langchain-core
langchain-chroma
python-docx
python-pptx
torch
uvicorn
python-multipart
